<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="front_page.css">
    <meta charset="UTF-8">
    <title>Pizza Lair</title>
</head>
<body>
    <header>
        <nav>
            <a class="merch-button" href="#">Merch</a>
            <div class="container">
            <a href="#">Sign in</a>
            <a href="#">Sign-up</a>
            <a class="button" href="#">Cart</a>
            </div>
        </nav>
    </header>
    <div class="body">

    </div>


    <footer>
        <p id="location">Locations Menntavegur 1, Reykjavík</p>
        <p id="phone">Phone nr. 898-9898</p>
        <p id="facebook">Check us out on Facebook</p>
    </footer>

</body>
</html>


