<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <link rel = 'stylesheet' href = 'style.css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="./style.css" />
    <title>Document</title>
</head>
<body>
    <!-- headings -->

    <h1>PIZZA LAIR</h1>
    <h2>Welcome!</h2>
    <h3>It really whips the sause's ass!</h3>
    
    <hr>

    <!-- Anchors -->

    <a href="#">This is a link</a>
    <a href="#" class="btn small">Button Link (S)</a>
    <a href="#" class="btn">Button Link</a>
    <a href="#" class="btn large">Button Link (L)</a>

    <hr>

    <!-- Submenu -->

    <nav class="submenu">
        <a class="btn" href="#">Offers</a>
        <a class="btn selected" href="#">Pizza's</a>
        <a class="btn" href="#">Sides</a>
    </nav>

    <hr>

    <!-- Forms -->

    <form>
        <div>
            <label>
                Name<br>
                <input type="text">
            </label>
        </div>
        <div>
            <label>
                Phone Number<br>
                <input type="text">
            </label>
        </div>
        <div>
            <label>
                Email<br>
                <input type="text">
            </label>
        </div>
        <div>
            <label>
                Password<br>
                <input type="password">
            </label>
        </div>
    </form>

    <hr>

    <!-- Buttons -->

    <button>Choose picture</button>
    <button disabled>Update</button>

    <hr>

    <!-- Header -->

    <header>
        <h1>Pizza Lair</h1>
        <nav>
            <a href="#">Sign in</a>
            <a href="#">Sign-up</a>
            <a class="button" href="#">Cart</a>
        </nav>
    </header>

    <hr>

    <!-- Profile button -->
    <div class="profile">
        <a href="#">
            <img src="http://placekitten.com/30/30" alt="">
            John Smith
        </a>
    </div>

    <hr>

    <!-- Cards -->

    <div class="card">
        <img src="http://placekitten.com/300/300" alt="">
        <div class="label">
            <a href="#">Nafn á pizzu</a>
            <p>Toppings lorem ipsum dolar sitt á hvað með döðlum, piparostur, sykursírópi og sveppum.</p>
            <button>add to cart</button>
        </div>
    </div>

    <hr>
    
    <!-- Popup -->

    <div class="popup">
        <div class="left">
            <img src="http://placekitten.com/300/300" alt="">
            <div class="beverage">
                <p>Select beverage:</p>
                <!-- Do stuff here -->
            </div>
        </div>
        <div class="right">
            <p>hihiihih</p>
        </div>
    </div>

    <hr>

    <!-- Footer -->

    <footer>
    <p>    Locations...
        Phone nr...
        Check us out on Facebook...</p>
    </footer>
</body>
</html>
