{% extends "base_page.html" %}
{% block page_body %}
    <form method="post" class="form form-horizontal" style="display: block">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
        </div>
    <input type="submit" class="btn btn_primary" value="Login"/>
    </form>

{% endblock %}
