{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="page.css">
    <link rel="stylesheet" href="{% static 'pizzalair/css/style.css' %}">
    <title>Pizza Lair</title>
</head>
<body class="frontpage">
<header>
    <div class="page">
        <nav>
            <a class="btn small" href="#">Merch</a>
        </nav>

        {% include "navigation.html" %}
    </div>
</header>

<div class="body">
    <div class="page">
        <h1 id="HeroLogo">
            <span class="left">Pizza</span>
            <img src="{% static 'pizzalair/images/dragon.png' %}" alt="">
            <span class="right">Lair</span>
        </h1>
        <nav class="submenu">
            <a href="/products/category/3" class="btn xlarge">Pizzas</a>
            <a href="/products/category/4" class="btn xlarge">Offers</a>
            <a href="/products/category/" class="btn xlarge">Sides</a>
        </nav>
    </div>
</div>

<footer>
    <div class="page">
        <div class="contact">
            <a href="/about">About</a>
            <a href="/locations">Locations</a>
            <span>Tel: +354 58 12345</span>
        </div>
        <div class="social">
            <a class="icon facebook" href="#"><span>Check us out on</span><img src="{% static 'pizzalair/images/fb_logo.svg' %}" alt="Facebook"></a>
        </div>
    </div>
</footer>
{% include 'base_popup.html' %}
<script type="text/javascript" src="{% static 'pizzalair/scripts/main.js' %}"></script>
</body>
</html>
