{% extends "base_page.html" %}
{% block page_body %}
    <form method="post" class="form form-horizontal">
        {% csrf_token %}
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control">
        </div>

    <input type="submit" class="btn btn-primary" value="Login" id="exampleInputPassword1"/>
    </form>

{% endblock %}