<nav>
    {% if user.is_authenticated %}
        <a class="avatar" href="{% url 'profile' %}">
            <img id="small-img" src="{{ user.profile_picture.url }}" alt="">
            <span>{{ user }}</span>
        </a>
        <a class="sign" href="{% url 'signout' %}">Sign out</a>
    {% else %}
        <a class="sign" href="{% url 'signin' %}">Sign in</a>
        <a class="sign" href="{% url 'signup' %}">Sign up</a>
    {% endif %}


    <a class="btn small" href="{% url 'cart' %}">Cart <span data-count="{{ cart_num_items }}" id="CartItemCount">{{ cart_num_items }}</span></a>
</nav>
