<div class="card">
    <a href="{% url 'product_details' product.id %}">
        <img class="thumb" src="{{  product.picture.url }}" alt="{{ product.name }}">
        <div class="label">
            <a href="{% url 'product_details' product.id %}">{{ product.name }}</a>
            {% if pizza == product.id %}
                <p>{{ pizza.toppings }}</p>
                {% else %}
                <p>No toppings</p>
            {% endif %}
            <p>Price: {{ product.price }}</p>
        </div>
    </a>
</div>
