{% load humanize %}
<div class="card">
    <a href="{% block 'url' %}{% url 'product_details' product.id %}{% endblock %}">
        <img class="thumb" src="{% block 'picture_url' %}{{ product.picture.url }}{% endblock %}" alt="{% block 'img_alt' %}{{ product.name }}{% endblock %}">
        <div class="label">
            <div class="top">
                <span class="name">{% block 'name' %}{{ product.name }}{% endblock %}</span>
                <span class="price">{% block 'price' %}{{ product.price | intcomma }} kr.{% endblock %}</span>

            </div>
            <p id = 'description'>{% block 'description' %}{{ product.description }}{% endblock %}</p>
        </div>
    </a>
</div>
