{% extends "base_page.html" %}
{% block page_title %}{{page_title}}{% endblock %}
{% block page_body %}
    <form method="get" id="search-form">
    <div class="input-group">
        <input class="form-control" id = "search_box" type="text" placeholder="Search the Pizzalair..." />
    <div class ="input-group">
        <button type="button" id="search-btn">Search</button>
    </div>
    </div>

    <form method="get">
        <input id = "search_filter" type="text" placeholder="Search the Pizzalair..." value ='{{ request.GET.q }}'>
    <label for="categoryselector">Choose category:</label>
    <select id = categoryselector>
    {% for category in productcategory %}
        <option  value = "productcategory">{{ category.name }}</option>
    {% endfor %}
    </select>
 <nav class="submenu">
        <a href="/products/category/pizzas" class="btn xlarge">Pizzas</a>
        <a href="/products/category/offers" class="btn xlarge">Offers</a>
        <a href="/products/category/sides" class="btn xlarge">Sides</a>
</nav>
<div class="product-list">
{% if products %}
    {% for product in products %}
        <div class="card">
            <a href="{% url 'product_details' product.id %}">
                <img class="thumb" src="{{  product.picture.url }}" alt="{{ product.name }}">
                <div class="label">
                    <a href="{% url 'product_details' product.id %}">{{ product.name }}</a>
                    <p>{{ product.description }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
{% else %}
    <h1>No items</h1>
{% endif %}
</div>
{% endblock %}
</form>
