{% extends "base_page.html" %}
{% block page_title %}{{page_title}}{% endblock %}
{% block page_body %}
    <form method="get">
        <input id = "search_filter" type="text" placeholder="Search the Pizzalair..." value ='{{ request.GET.q }}'>
    <label for="categoryselector">Choose category:</label>
    <select id = categoryselector>
    {% for category in productcategory %}
        <option  value = "productcategory">{{ category.name }}</option>
    {% endfor %}
    </select>
<div class="product-list">
{% for product in products %}
            <div class="card">
                <a href="{% url 'product_details' product.id %}">
                    <img class="thumb" src="{{  product.picture.url }}" alt="{{ product.name }}">
                    <div class="label">
                        <a href="{% url 'product_details' product.id %}">{{ product.name }}</a>
                        <p>{{ product.description }}</p>
                    </div>
                </a>
            </div>
{% endfor %}
</div>
</form>