<div class="search-container">
    <form method="get" id="search-filter" action = "">
        <div class="input-group">
            <input value = "{{ filter.search_filter}}" class="form-control" id="search_box" type="text" name="search_filter" placeholder="Search the Pizzalair..." />
            <select  name="category" id="category">
                <option value="">No Filter</option>
                {% for category in categories %}
                <option {% if filter.category == category.slug %} selected{% endif %} value="{{ category.slug }}">{{ category.name }}</option>
                {% endfor %}
            </select>

            <select name="order_by" id="order-by" >
                <option value="name" {% if filter.order_by == 'name' %}selected{% endif %}>Name</option>
                <option value="price" {% if filter.order_by == 'price' %}selected{% endif %}>Price</option>
            </select>

            <select name="direction" id="direction">
                <option value="asc" {% if filter.direction == 'asc' %}selected{% endif %}>Ascending</option>
                <option value="desc" {% if filter.direction == 'desc' %}selected{% endif %}>Descending</option>
            </select>
            <button type="submit" id="search-btn">Search</button>
        </div>
    </form>
</div>
