{% extends 'base_details_ajax.html' %}
{% load humanize %}

{% block 'aside' %}
    <div class="flip-container">
        <div class="front">
            <img src="{{ product.picture.url }}" alt="{{ product.name }}">
        </div>
        <div class="back">
            <img src="{{ product.second_picture.url }}" alt="{{ product.name }}">
        </div>
    </div>
{% endblock %}
{% block 'name' %}{{ product.name }}{% endblock %}
{% block 'description' %}
    <p>{{ product.description}} <br> Toppings: {{ product.toppings }}</p>
    <ul class="toppings large">
        {% for topping in product.new_toppings.all %}
            <li>{{ topping }}</li>
        {% endfor %}
    </ul>

    <a href="/cart/add/{{ product.id }}/1" class="add-to-cart btn" onclick="add_to_cart(event)">Add to cart</a>
{% endblock %}
{% block 'price' %}{{ product.price | intcomma }} kr.{% endblock %}
