{% extends 'base_details.html' %}
{% load humanize %}
{% block 'aside' %}
    <img src="{{ product.picture.url }}" alt="{{ product.name }}">
{% endblock %}
{% block 'name' %}{{ product.name }}{% endblock %}
{% block 'description' %}
        <p>{{ product.description }}</p>
        <form action="{% url 'offer_details' product.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <input id="add-to-cart" type="submit" value="Add to cart">
        </form>
{% endblock %}
{% block 'price' %}{{ product.price | intcomma }} kr.{% endblock %}
x
