{% extends 'base_details_ajax.html' %}
{% load humanize %}

{% block 'aside' %}
    <img src="{{ product.picture.url }}" alt="{{ product.name }}">
{% endblock %}
{% block 'name' %}{{ product.name }}{% endblock %}
{% block 'description' %}
    <p>{{ product.description }}</p>
    {% for offer in offer_template %}
    <label for="offers">Choose:</label>
        {% for x in offer.quantity_as_range %}
        <select class="buy-options" name="buy">
            <option class="hidden" selected disabled value="">Please select beverage</option>
            {% for item in offer.products %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <br>
    {% endfor %}
{% endfor %}

{% endblock %}
{% block 'price' %}{{ product.price | intcomma }} kr.{% endblock %}

