{% load humanize %}
<table id="CartTable" class="full-width">
    <thead>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody class="cartItems">
        {% for item in order.cart.items.all %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total_price | intcomma }} kr</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"><small>Loyalty Points
                    {{ loyalty_points.old_balance | intcomma }} LPs
                    + {{ loyalty_points.earned | intcomma }} LPs
                    - {{ loyalty_points.spent | intcomma }} LPs
                = {{ loyalty_points.new_balance | intcomma }} LPs</small>
            </td>
        </tr>
        <tr>
            <td colspan="2">Total</td>
            <td>{{ order.cart.total_price | intcomma }} kr</td>
        </tr>
    </tfoot>
</table>
